@import "../../styles/variables.scss";

#Projetos {
  margin: 4rem 0.5rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #projects-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 1.5rem 1rem;
    background-color: $color-text-tertiary;
    border-radius: 2rem;
    margin: 0.5rem;
  }

  .go-home,
  .go-all-projects {
    background-color: $color-text-tertiary;
    padding: 1rem;
    border-radius: 3rem;
    color: $color-text-primary;
    text-decoration: none;
    font-weight: 700;
    transition: 0.4s;
  }

  .go-home:hover,
  .go-all-projects:hover {
    background-color: $color-text-secundary;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  #Projetos {
    #projects-cards {
      grid-template-columns: 1fr 1fr;
      gap: 1.8rem;
    }
  }
}

@media (min-width: 900px) {
  #Projetos {
    #projects-cards {
      width: 90%;
    }
  }
}
