@import "../../styles/variables.scss";

#conhecimentos-container {
  #title-conhecimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 2.5rem;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background-image: $text-title-gradient;
      text-transform: capitalize;
    }

    .border-title {
      width: 70%;
      border: $border-title;
      margin: 1rem 0;
    }
  }
}
