@import "../../styles/variables.scss";

#projects-container {
  margin: 4rem 0.5rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #projects {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 1.5rem 1rem;
    background-color: $color-text-tertiary;
    border-radius: 2rem;
  }
}

@media (min-width: 768px) {
  #projects-container {
    #projects {
      grid-template-columns: 1fr 1fr;
      gap: 1.8rem;
    }
  }
}

@media (min-width: 900px) {
  #projects-container {
    #projects {
      width: 90%;
    }
  }
}
