// Paleta de cores: https://color.adobe.com/pt/search?q=Neutral%20palette&t=term

$background-color: #0d0d0d;
$color-white: #fff;
$color-text-primary: #f2f2f2;
$color-text-secundary: #0d0d0d;
$color-2: #8c0327;
$color-3: #a60321;
$color-4: #a6754b;

$border-links: 0.5px solid #8c0327;
$border-close-menu: 0.5px solid white;
