@import "../../styles/variables.scss";

#contact-container {
  margin: 4rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #form-contact {
    background-color: $color-text-tertiary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem 0;
    border-radius: 3rem;
    margin: 0.5rem;

    h3 {
      color: $color-text-primary;
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .input-contact,
    .textarea-contact {
      width: 85%;
      padding: 1rem;
      border: none;
      font-size: 1rem;
      border-radius: 1rem;
    }

    .textarea-contact {
      height: 7rem;
      margin-bottom: 2rem;
    }

    .btn-contact {
      border: none;
      background: $color-text-four;
      color: $color-text-primary;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border-radius: 1rem;
      transition: 0.3s;
    }

    .sent-email {
      background-color: $color-text-four;
      color: $color-text-primary;
      font-size: 1rem;
      padding: 1rem 2rem;
      border-radius: 1rem;
      transition: 0.3s;
    }

    .btn-contact:hover,
    .sent-email:hover {
      background-color: $color-text-secundary;
    }

    .btn-contact:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  #contact-container {
    #form-contact {
      .input-contact,
      .textarea-contact {
        width: 75%;
      }

      .textarea-contact {
        height: 12rem;
      }

      .btn-contact {
        font-size: 1.5rem;
        padding: 1.5rem 4rem;
      }

      .sent-email {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
      }
    }
  }
}
@media (min-width: 900px) {
  #contact-container {
    #form-contact {
      width: 50%;

      h3 {
        color: $color-text-primary;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .input-contact,
      .textarea-contact {
        width: 70%;
      }

      .btn-contact {
        padding: 0.8rem 2rem;
      }

      .sent-email {
        font-size: 1.2rem;
        padding: 1rem 2rem;
      }
    }
  }
}
