@import "../../styles/variables.scss";

#about-me-container {
  margin: 4rem 0.5rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
